/*
** Navigation
*/
.mob-icon {
  margin-right: 20px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 26px;
  background: transparent;
  text-align: center;
  padding: 5px 15px;
  @include transition(all 1000ms ease-in-out);
}
.menu--main {
  position: absolute;
  left: -320px;
  top: 66px;
  background: #000;
  width: 250px;
  height: 100%;
  padding: 10px 0;
  @include transition(all 0.2s ease-in-out);
  z-index: 11;
  ul.menu {
    margin-left: 0;
    list-style-type: none;
    li {
      display: block;
      border-bottom: 1px dotted rgba(159, 159, 160, 0.27);
      position: relative;
      a{
        text-decoration: none;
        color: $white_text;
        padding: 5px 0 5px 25px;
        &:after {
          display: none;
        }
        &.is-active {
          color: $pink_color;
          &:after {
            color: $pink_color;
          }
        }
      }
      &.menu-item--expanded {
        a {
          margin-right: 25px;
          display: block;
          &:after {
            content: '\f107';
            font: normal normal normal 14px/1 FontAwesome;
            color: $white_text;
            @include transition (all 0.3s ease-in-out);
            @include rotate(0deg);
            position: absolute;
            top: 13px;
            right: 10px;
            display: block;
            z-index: 12;
          }
        }
        ul {
          padding-left: 0;
          li{
            padding-left: 0;
            a{
              margin-right: 0;
              padding-left: 35px;
              &::after{
                display: none;
              }
              &.is-active {
                color: $base_color;
              }
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
        &.menu-active {
          a:after {
            @include rotate(180deg);
          }
        }
      }
    }
  }
}
.is-menu-active {
  .mob-icon {
    background: $pink_color;
    .fa {
      color: $white_text;
    }
  }
  .menu--main {
    left: 0;
  }
}

@media only screen and (min-width: 48em) {
  .menu--main {
    margin-right: 15px;
    position: static;
    background: transparent;
    width: auto;
    top: auto;
    left: auto;
    padding: 0;
    ul.menu li{
      display: inline-block;
      padding: 0;
      border-bottom: none;
      position: relative;
      a{
        color: $base_color;
        @include transition (all 0.3s ease-in-out);
        padding: 0 10px;
        &:hover {
          color: $link_h_color;
        }
      }
      ul {
        position: absolute;
        top: 37px;
        left: 0;
        background: $pink_color;
        min-width: 180px;
        @include transition (all 0.3s ease-in-out);
        @include translateY(-10px);
        opacity: 0;
        visibility: hidden;
        z-index: 20;
        li {
          display: block;
          border-bottom: 1px dotted rgba(255, 255, 255, 0.31);
          a{
            color: $white_text;
            text-decoration: none;
            display: block;
            padding: 0 15px;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
      &:last-child {
        ul {
          left: auto;
          right: 0;
        }
      }
      &.menu-item--expanded {
        a {
          margin-right: 0;
          &:after {
            color: $base_color;
            top: 50%;
            margin-top: -7px;
            right: -3px;
          }
          &.is-active {
            &:after {
              color: $pink_color;
            }
          }
          &:hover {
            &:after {
              color: $link_h_color;
              @include rotate(180deg);
            }
          }
        }
        ul li a {
          padding-left: 15px;
        }
      }
      &:hover {
        ul {
          opacity: 1;
          visibility: visible;
          @include translateY(0);
          li a {
            color: $white_text;
          }
        }
      }
    }
  }
}
