$base_color: #111111;
$black_color: #000;
$white_color: #fff;
$pink_color: #f51167;
$grey_color: #ebebeb;
$light_grey_color: #9f9fa0;
$light_sands_color: #dbcc8f;
$light_grey_color: #ccc;
$dark_grey_color: #e9ecef;

/*
** Text Color
*/
$base_text: $base_color;
$white_text: $white_color;
$link_color: $base_color;
$link_h_color: $pink_color;
$text_grey: $grey_color;
$text_light_grey: $light_grey_color;

/*
** Fonts
*/
$base-font-family: 'Josefin Sans', sans-serif !default;
